{% extends "cars/base_generic.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="d-flex flex-wrap px-4 pt-4 align-items-center">
    <div class="col-md-6">
        <h1>Welcome to Luxury Car</h1>
        <p>Welcome to CarMart, where excellence meets affordability! Discover a diverse range of high-quality vehicles, both new and pre-owned, tailored to fit any lifestyle and budget. Our commitment to customer satisfaction is unmatched, offering personalized service and flexible financing options to ensure a stress-free purchasing process. At CarMart, we redefine car shopping with transparency, integrity, and a passion for delivering exceptional value. Start your journey with us today and experience the joy of finding your perfect vehicle effortlessly. Drive home with confidence from CarMart, your trusted partner in automotive excellence.</p>
    </div>
    <div class="col-md-6">
        <img src="{% static 'images/home.jpg' %}" alt="Welcome Image" class="img-fluid">
    </div>
</div>

<h2 class="mt-5">Car Brand</h2>

<div class="col-md-12">
    <div class=" bg-white d-flex gap-3 " role="group" aria-label="Car Brands">
        <button type="button" class="btn btn-white " onclick="filterCars('all')">All</button>
        {% for brand in brands %}
        <button type="button" class="btn btn-white " onclick="filterCars('{{ brand.name }}')">{{ brand.name }}</button>
        {% endfor %}
    </div>
</div>





<div class="row">
    {% comment %} <h2 class="">Car Brand</h2> {% endcomment %}
    {% comment %} <div class="col-md-3 mt-3">
        <div class="btn-group-vertical bg-white d-flex" role="group" aria-label="Car Brands">
            <button type="button" class="btn btn-white " onclick="filterCars('all')">All</button>
            {% for brand in brands %}
            <button type="button" class="btn btn-white " onclick="filterCars('{{ brand.name }}')">{{ brand.name }}</button>
            {% endfor %}
        </div>
    </div> {% endcomment %}
    <div class="col-md-12" id="car-listings">
        <h4 id="result-count" class="text-center mt-4">{{ cars|length }} Results Found</h4>
        <hr/>
        
        <div class="row">
            {% for car in cars %}
            <div class="col-md-3 mb-3 car-item" data-brand="{{ car.brand.name }}">
                <div class="card">
                    <img src="{{ car.image.url }}" class="card-img-top" alt="{{ car.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ car.name }}</h5>
                        <p class="card-text">{{ car.price }}$</p>
                        <p class="card-text">Quantity : {{ car.quantity }}</p>

                        <p class="card-text">{{ car.brand.name }}</p>
                        <a href="{% url 'car_detail' car.pk %}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    
    document.getElementById('result-count').textContent = '{{ cars|length }} Results Found';

    function filterCars(brand) {
        let carItems = document.querySelectorAll('.car-item');

        carItems.forEach(item => {
            if (brand === 'all' || item.dataset.brand === brand) {
                item.style.display = 'block';
            } else {
                item.style.display = 'none';
            }
        });

        let visibleCars = document.querySelectorAll('.car-item[style="display: block;"]');
        document.getElementById('result-count').textContent = visibleCars.length + ' Results Found';
    }
</script>

{% endblock %}
